[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = "*"
django-filter = "*"
django-widget-tweaks = "*"
django-countries = "*"
pillow = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.8"
